Все задания выполняются на удалённом сервере,
доступ к которому можно получить через ssh-протокол,
введя в терминале команду:

ssh адрес -p номер_порта

Доступ по паролю будет закрыт не ранее 1 мая.
До закрытия доступа по паролю
нужно успеть настроить доступ
к серверу по ssh-ключу.

После подгрузки заданий на сервер,
необходимо их проверку с помощью
выполнения в корневом каталоге сервера команды:

check.sh

Все подробности и все задания на семестр
описаны в файле README.md на сервере.
